/* Estilos Gerais */
* {
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

/* Cabecalho */
.cabecalho {
  text-align: center;
}

.cabecalho > .logo {
  margin-top: 20px;
}

/* Cadastro */
.cadastro {
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 50px;
}

.cadastro > h1 {
  margin-bottom: 10px;
}

.form {
  padding: 30px;
  position: relative;
}

.cadastro > .form > .labels {
  display: block;
}

.cadastro > .form > .inputs {
  border: none;
  border-bottom: 3px solid #66c4ad;
  width: 100%;
  margin-bottom: 20px;
  margin-top: -20px;
  font: 24px Arial;
}

.cadastro > .form > .inputs:focus {
  outline: none;
}

.cadastro > .form > .show-password {
  max-width: 30px;
  max-height: 30px;
  position: absolute;
  left: 88%;
  margin-top: 22px;
}

.botao-container > .botao {
  width: 60%;
  background-color: white;
  border: 3px solid #66c4ad;
  text-transform: uppercase;
  color: #66c4ad;
  padding: 8px;
  font: 24px Arial;
  font-weight: 700;
  margin: 50px auto;
  display: block;
  box-shadow: 0px 7px 15px 0px rgba(0,0,0,.45);
  transition-property: width, box-shadow, font-size;
  transition-duration: 1s;
}

.botao-container {
  padding: 50px 0;
}

.botao-container > .botao:active {
  box-shadow: none;
  font-size: 20px;
  width: 50%;
}

.botao-container > .botao:focus {
  outline: none;
}

gasto-fixo {
  width: 100%;
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70%;
  float: left;
}
