<div id="sidemenu" ng-class="menuIsOpen ? 'menu-display' : 'menu-hide'">
    <article class="userinfo">
        <img class="userinfo__picture" src="{{usuario.picture}}" alt="Picture">
        <h3 class="userinfo__name">{{usuario.nome}}</h3>
        <p class="userinfo__money">{{salario.valor}}</p>
    </article>
    <ul class="sidemenu__list">
        <li ng-class="verificarAtivo('/objetivo') ? 'sidemenu__item--active' : ''"><a href="/objetivo">Pagina Inicial</a></li>
        <li><a href="#" ng-click="editarSaldo()">Editar Saldo</a></li>
        <li ng-class="verificarAtivo('/anterior') ? 'sidemenu__item--active' : ''"><a href="/anterior">Meses Anteriores</a></li>
        <li ng-class="verificarAtivo('/proximo') ? 'sidemenu__item--active' : ''"><a href="/proximo">Próximos Meses</a></li>
        <li ng-class="verificarAtivo('/gasto-fixo') ? 'sidemenu__item--active' : ''"><a href="/gasto-fixo">Gastos Fixos</a></li>
        <li ng-class="verificarAtivo('/categorias') ? 'sidemenu__item--active' : ''"><a href="/categorias">Categorias</a></li>
        <li><a ng-click="logout()" href="/sair">Sair</a></li>
    </ul>
</div>
<div ng-click="showMenu()" ng-class="menuIsOpen ? 'menu-overlay' : 'hidden'"></div>
