<!-- ng-include com o menu  -->
<div class="conteudo">
  <div class="title">
    <!-- TODO: adicionar função na controller para pegar o nome do mês -->
    GASTOS FIXOS DE {{mes.nome}}
  </div>
  <!-- <div class="gasto" ng-repeat="gastoFixo in gastosFixos">-->
  <div class="gastos-fixos">
    <div class="gastos-container" >
      <!-- <span>Gasto {{gastosFixos.indexOf(gastoFixo)}}</span> -->
      <span>Gasto 1</span>
      <img class="deletar" src="/assets/img/setting.svg" title="alterar" ng-click="alterar()">
    </div>
  </div>
</div>
