<!-- ng-include com o menu  -->
<div class="conteudo">
  <div class="title">
    <!-- TODO: adicionar função na controller para pegar o nome do mês -->
    <!-- GASTOS FIXOS DE {{mes.nome}} -->
    GASTOS FIXOS DE JULHO
  </div>
  <!-- <div class="gastos-fixos" ng-repeat="gastoFixo in gastosFixos">-->
  <div class="gastos-fixos">
    <div class="gastos-container" >
      <!-- <span>Gasto {{gastosFixos.indexOf(gastoFixo)}}</span> -->
      <div class="gasto-title">
        <h4>Gasto 1</h4>
        <img class="deletar" src="/assets/img/setting.svg" title="alterar" ng-click="mostrarOpcoes(gastoFixo)">
      </div>
      <div class="opcoes" ng-show="gastoFixo.opcoes=='true'">
        <div>Editar</div>
        <div>Excluir</div>
      </div>
      <div class="info">
        <div class="">
          <span class="type">Valor:</span> <span> R$ 120,00</span>
        </div>
        <div class="">
          <span class="type">Periodo:</span> <span> 3 meses</span>
        </div>
        <div class="">
          <span class="type">Categoria:</span> <span> Categoria 1</span>
        </div>
      </div>
    </div>

    <div class="gastos-container" >
      <!-- <span>Gasto {{gastosFixos.indexOf(gastoFixo)}}</span> -->
      <div class="gasto-title">
        <h4>Gasto 2</h4>
        <img class="deletar" src="/assets/img/setting.svg" title="alterar" ng-click="alterar()">
      </div>
      <div class="info">
        <div class="">
          <span class="type">Valor:</span> <span> R$ 50,00</span>
        </div>
        <div class="">
          <span class="type">Periodo:</span> <span> 12 meses</span>
        </div>
        <div class="">
          <span class="type">Categoria:</span> <span> Categoria 1</span>
        </div>
      </div>
    </div>

    <div class="gastos-container" ng-if="showAdicionar">
    <!-- <div class="gastos-container"> -->
      <h3 class="margin-bottom">Novo Gasto Fixo: </h3>
      <div class="bloco">
        <label for="nome" class="labels type">Nome:</label>
        <input class="inputs" placeholder="   Gasto 3" type="text" name="nome">
      </div>
      <div class="bloco">
        <label for="valor" class="labels type">Valor:</label>
        <input class="inputs" placeholder="   R$ 39,90" type="number" pattern="[0-9]+([\.,][0-9]+)?" step="0.5" name="valor">
      </div>
      <div class="bloco">
        <label for="periodo" class="labels type">Periodo:</label>
        <input class="inputs" placeholder="   2 meses" type="number" name="periodo">
      </div>
      <div class="bloco">
        <label for="categoria" class="labels type">Categoria:</label>
        <select class="inputs" name="categoria" ng-options="categoria.nome for categoria in categorias">
          <option value="">
            {{categoria.nome}}
          </option>
        </select>
      </div>
    </div>

    <div class="botao-container">
      <button class="botao" ng-click="mostrarAdicionar()" ng-hide="showAdicionar">Adicionar</button>
      <button class="botao" ng-click="adicionar()" ng-show="showAdicionar">Adicionar</button>
    </div>

  </div>
</div>
