.app-navbar {
    background-color: hsl(165, 44%, 58%);
    margin-bottom: 0;
    border: none;
}

.navbar .app-navbar__menu-btn {
    color: hsl(0, 0%, 0%);
    background-color: hsl(165, 44%, 58%);
    border: none;

    span {
        transform: scale(1.4);
    }
}

.app-navbar__container {
    display: flex;
    align-items: center;
}

.app-navbar__header {
    flex-grow: 1;
}

.app-navbar__list {
    margin-bottom: 0;
    list-style: none;
}

.app-navbar__list-content {
    color: hsl(0, 0%, 0%);
    margin: 0;
}