<navbar></navbar>
<div menu></div>
<div class="saldo">
  <p class="valor-saldo">R$ 20,00</p>
  <h4 class="salario-atual"> Receita do mês: R$ 500,00</h4>
</div>


<div class="conteudo">

  <!-- OBJETIVO -->
  <div class="objetivo wrapper">
    <div class="title" ng-click="exibirObjetivosCompletos()">
      OBJETIVOS
    </div>
    <div class="objetivos-completos" ng-show="showObjetivosCompletos">
      <div class="objetivos-completos-container" ng-repeat="objetivo in objetivosCompletos">
        <span>{{objetivo.nome}}</span>
        <span>R$ {{objetivo.valor}}</span>
        <div class="info-categoria">
          <span class="info-categoria-nome">{{objetivo.categoria.nome}}</span>
          <div class="tag-categoria" style="background-color: {{objetivo.categoria.color}};"></div>
        </div>
      </div>
      <div class="objetivos-completos-total" ng-show="possuiCompletos()">
        <span>Total:</span>
        <span id="total">R$ {{somarValorCompletos()}}</span>
      </div>
    </div>
  </div>



  <!-- GASTO -->

<gasto-fixo></gasto-fixo>



</div>
