/*Simulação*/
.simulacao{
  margin: 5% 0 5% 0;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.simulacao-container {
  width: 60%;
  margin-bottom: 50px;
  background: #66C4AD;
  border: 2px solid #DDDADA;
}

.simulacao-container > .title {
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
}

.objetivos-simulacao-container {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.simulacao-container > .objetivos > .botao-container > .botao {
  width: 50%;
}

.simulacao-container > .objetivos > .botao-container > .botao:active {
  font-size: 16px;
  width: 35%;
}
