<navbar></navbar>
<div menu></div>
<div class="simulacao">
  <div class="simulacao-container">
    <div class="simulacao-title">
      <h3>Simulação de Compra</h3>
    </div>
    <div class="objetivos">
      <div class="objetivos-simulacao-container" ng-repeat="objetivo in objetivosIncompletos">
        <span>{{objetivo.nome}}</span>
        <span>R$ {{objetivo.valor}}</span>
        <div class="info-categoria">
          <span class="info-categoria-nome">{{objetivo.categoria.nome}}</span>
          <div class="tag-categoria" style="background-color: {{objetivo.categoria.color}};"></div>
        </div>
        <input
        type="checkbox"
        ng-true-value="{{objetivo.valor}}"
        ng-model="selecionados[objetivo.id]"
        >
        <!-- ng-click="selecaoAlternada(objetivo)"> -->
      </div>
      <div class="botao-container">
        <button class="botao" ng-click="simulador(selecionados)">simular</button>
      </div>
    </div>
  </div>
</div>
