<navbar></navbar>
<div menu></div>
<div class="adicionar-objetivo">
  <div class="adicionar-objetivo-container">
    <h2>Novo Objetivo</h2>

    <h3>Nome:</h3>
    <input class="inputs" type="text" ng-model="objetivo.nome" name="nome-objetivo">

    <h3>Valor:</h3>
    <input class="inputs" type="number" ng-model="objetivo.valor" min="0" step="0.01" name="valor-objetivo">

    <label for="categoria" class="labels type">Categoria:</label>
    <select id="categoria" class="inputs" ng-options="categoria.nome for categoria in categorias" ng-model="objetivo.categoria">
      <option>
        {{categoria.nome}}
      </option>
    </select>
    <div class="botao-container">
      <button class="botao" ng-click="adicionar(objetivo)">Adicionar Objetivo</button>
    </div>
  </div>
</div>
