/* Objetivo */
.objetivo {
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.completos, .incompletos {
  width: 60%;
  margin-bottom: 50px;
  background: #66C4AD;
  border: 2px solid #DDDADA;
  box-sizing: border-box;
  transition-duration: 1s;
}

.completos-title, .incompletos-title {
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.objetivos-completos, .objetivos-incompletos {
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #DDDADA;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.objetivos-completos-container, .objetivos-incompletos-container {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.objetivos-completos-total {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.objetivos-completos-total > #total {
  padding-left: 5px;
}

.dropdown-menu > li {
    cursor: pointer;
    margin: 10px 10px 10px 10px;
}

.dropdown-menu > li > .arquivar,
.dropdown-menu > li > .completar,
.dropdown-menu > li > .deletar {
  width: 15%;
}

.deletar {
  width: 5%;
  cursor: pointer;
}

.objetivos-incompletos > .adicionar-objetivo {
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
}

.objetivos-incompletos > .adicionar-objetivo > h4 {
  font-weight: bold;
}

.outros {
  margin-bottom: 15px;
}

.botao-container {
  padding: 5px;
}

.botao-container > .botao {
  padding: 2px;
  width: 70%;
  font: 18px Arial;
  font-weight: bold;
  margin: 0 auto;
  display: block;
  text-transform: uppercase;
  border: 3px solid #66c4ad;
  background-color: #FFFFFF;
  color: #66c4ad;
  transition-property: width, font-size;
  transition-duration: 1s;
}

.botao-container > .botao:active {
  font-size: 16px;
  width: 65%;
}

.simulador > .botao-container >.botao {
  border-color: #56C90A;
  color: #56C90A;
}

.arquivado > .botao-container > .botao > .arquivar {
  width: 8%;
  margin-bottom: 5px;
}
