<navbar></navbar>
<div menu></div>
<div class="saldo_atual">
  <h1>R$ 1200,00</h1>
</div>

<div class="conteudo" >


  <!-- INCOMPLETOS -->
  <div class="objetivo wrapper">
    <div class="title" ng-click="exibirObjetivosIncompletos()">
      OBJETIVOS INCOMPLETOS
    </div>
    <div class="objetivos-incompletos" ng-show="showObjetivosIncompletos">
      <div class="objetivos-incompletos-container">
        <span>Item 1</span>
        <span>R$ 10,00</span>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Incompleto
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li ng-click="excluir()"><img class="deletar" src="/assets/img/delete.svg">
                Excluir</li>
                <li ng-click="arquivar()"><img class="arquivar" src="/assets/img/arquivo.svg">
                  Arquivar</li>
                  <li ng-click="completar()"><img class="completar" src="/assets/img/check.svg">
                    Completar</li>
                  </ul>
                </div>
              </div>
              <div class="objetivos-incompletos-container">
                <span>Item 2</span>
                <span>R$ 20,00</span>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Incompleto
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li ng-click="excluir()"><img class="deletar" src="/assets/img/delete.svg">
                        Excluir</li>
                        <li ng-click="arquivar()"><img class="arquivar" src="/assets/img/arquivo.svg">
                          Arquivar</li>
                          <li ng-click="completar()"><img class="completar" src="/assets/img/check.svg">
                            Completar</li>
                          </ul>
                        </div>
                      </div>
                      <div class="adicionar-objetivo">
                        <h4 ng-click="adicionarObjetivo()">+ adicionar objetivo</h4>
                      </div>
                      <div class="outros">
                        <div class="simulador">
                          <div class="botao-container">
                            <button class="botao" ng-click="simularCompra()">Simular Compra</button>
                          </div>
                        </div>
                        <div class="arquivado">
                          <div class="botao-container">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- GASTO -->

                  <div class="title wrapper" ng-click="exibirGastos()">
                    <!-- TODO: adicionar função na controller para pegar o nome do mês -->
                    <!-- GASTOS FIXOS DE {{mes.nome}} -->
                    GASTOS FIXOS
                  </div>
                  <!-- <div class="gastos-fixos" ng-repeat="gastoFixo in gastosFixos">-->
                  <div class="gastos-fixos" ng-show="showGastos">
                    <div class="gastos-container" >
                      <!-- <span>Gasto {{gastosFixos.indexOf(gastoFixo)}}</span> -->
                      <div class="gasto-title">
                        <h4>Gasto 1</h4>
                        <img class="deletar" src="/assets/img/setting.svg" title="alterar" ng-click="mostrarOpcoes(gastoFixo)">
                      </div>
                      <div class="opcoes" ng-show="gastoFixo.opcoes=='true'">
                        <div>Editar</div>
                        <div>Excluir</div>
                      </div>
                      <div class="info">
                        <div class="">
                          <span class="type">Valor:</span> <span> R$ 120,00</span>
                        </div>
                        <div class="">
                          <span class="type">Periodo:</span> <span> 3 meses</span>
                        </div>
                        <div class="">
                          <span class="type">Categoria:</span> <span> Categoria 1</span>
                        </div>
                      </div>
                    </div>

                    <div class="gastos-container" >
                      <!-- <span>Gasto {{gastosFixos.indexOf(gastoFixo)}}</span> -->
                      <div class="gasto-title">
                        <h4>Gasto 2</h4>
                        <img class="deletar" src="/assets/img/setting.svg" title="alterar" ng-click="alterar()">
                      </div>
                      <div class="info">
                        <div class="">
                          <span class="type">Valor:</span> <span> R$ 50,00</span>
                        </div>
                        <div class="">
                          <span class="type">Periodo:</span> <span> 12 meses</span>
                        </div>
                        <div class="">
                          <span class="type">Categoria:</span> <span> Categoria 1</span>
                        </div>
                      </div>
                    </div>

                  </div>

                  <!-- COMPLETOS-->
                    <div class="objetivo wrapper">
                  <div class="title" ng-click="exibirObjetivosCompletos()">
                    OBJETIVOS COMPLETOS
                  </div>
                  <div class="objetivos-completos" ng-show="showObjetivosCompletos">
                    <div class="objetivos-completos-container">
                      <span>Item 1</span>
                      <span>R$ 10,00</span>
                      <img class="deletar" src="/assets/img/delete.svg" title="deletar" ng-click="excluir()">
                    </div>
                    <div class="objetivos-completos-container">
                      <span>Item 2</span>
                      <span>R$ 20,00</span>
                      <img class="deletar" src="/assets/img/delete.svg" title="deletar" ng-click="excluir()">
                    </div>
                    <div class="objetivos-completos-total">
                      <span>Total:</span>
                      <span id="total">R$ 30,00</span>
                    </div>
                  </div>
              </div>
            </div>
