<div class="title" ng-click="mostrarGastosFixos()">
  GASTOS FIXOS
</div>
<div class="gastos-fixos" ng-show="showGastos">
  <div class="gastos-container" ng-repeat="gastoFixo in gastosFixos">
    <span>Gasto Fixo #{{gastosFixos.indexOf(gastoFixo) + 1}}</span>
    <div class="gasto-title">
      <h4>{{gastoFixo.nome}}</h4>
      <img class="deletar" src="/assets/img/setting.svg" title="alterar" ng-click="mostrarOpcoes(gastoFixo)">
    </div>
    <div class="opcoes" ng-show="gastoFixo.opcoes">
      <div>Editar</div>
      <div ng-click="excluir()">Excluir</div>
    </div>
    <div class="info">
      <div class="">
        <span class="type">Valor:</span> <span>R$ {{gastoFixo.valor}}</span>
      </div>
      <div class="">
        <span class="type">Periodo:</span> <span>{{gastoFixo.duracaoMeses}}</span>
      </div>
      <div class="">
        <span class="type">Categoria:</span> <span>{{gastoFixo.categoria.nome}}</span>
      </div>
    </div>
  </div>

  <div class="gastos-container" ng-if="showAdicionar">
    <!-- <div class="gastos-container"> -->
    <h3 class="margin-bottom">Novo Gasto Fixo: </h3>
    <div class="bloco">
      <label for="nome" class="labels type">Nome:</label>
      <input id="nome" class="inputs" placeholder="Gasto 3" type="text"
      name="nome" ng-model="$parent.gastoFixo.nome">
    </div>
    <div class="bloco">
      <label for="valor" class="labels type">Valor:</label>
      <input id="valor" class="inputs" placeholder="R$ 39,90"
      ng-model="$parent.gastoFixo.valor" type="number"
      pattern="[0-9]+([\.,][0-9]+)?" step="0.5" name="valor">
    </div>
    <div class="bloco">
      <label for="periodo" class="labels type">Periodo:</label>
      <input id="periodo" class="inputs" placeholder="2 meses" type="number"
      ng-model="$parent.gastoFixo.periodo" name="periodo">
    </div>
    <div class="bloco">
      <label for="categoria" class="labels type">Categoria:</label>
      <select id="categoria" class="inputs"
      ng-options="categoria.nome for categoria in categorias"
      ng-model="$parent.gastoFixo.selectedCategoria">
    </select>
  </div>
</div>

<div class="botao-container">
  <button class="botao" ng-click="mostrarAdicionar()" ng-hide="showAdicionar">Adicionar</button>
  <button class="botao" ng-click="adicionar()" ng-show="showAdicionar">Adicionar</button>
</div>

</div>
