<navbar></navbar>
<div menu></div>
<div class="saldo">
  <p class="valor-saldo">R$ 20,00</p>
  <h4 class="salario-atual"> Salário do mês: R$ 500,00</h4>
</div>
<div class="conteudo">

  <!-- OBJETIVO -->
  <div class="objetivo wrapper">
    <div class="title" ng-click="exibirObjetivosCompletos()">
      OBJETIVOS
    </div>
    <div class="objetivos-completos" ng-show="showObjetivosCompletos">
      <div class="objetivos-completos-container" ng-repeat="objetivo in objetivosCompletos">
        <span>Objetivo Completo #{{objetivosCompletos.indexOf(objetivo) + 1}}</span>
        <div class="objetivo-title">
          <h4>{{objetivo.nome}}</h4>
        </div>
        <div class="info">
          <div class="">
            <span class="type">Valor:</span> <span>R$ {{objetivo.valor}}</span>
          </div>
          <div class="info-categoria">
            <span class="type">Categoria: </span> <span class="info-categoria-nome"> {{objetivo.categoria.nome}}</span>
            <div class="tag-categoria" style="background-color: {{objetivo.categoria.cor}};"></div>
          </div>
        </div>
      </div>
      <div class="objetivos-completos-total" ng-show="possuiCompletos()">
        <span>Total:</span>
        <span id="total">R$ {{somarValorCompletos()}}</span>
      </div>
    </div>
  </div>

  <!-- GASTO -->
<gasto-fixo> </gasto-fixo>
</div>
