<navbar></navbar>
<div menu></div>
<div class="arquivados">
  <div class="arquivados-container">
    <div class="title">
      <h3>Objetivos arquivados</h3>
    </div>
    <div class="objetivos">
      <div class="objetivos-arquivados-container">
        <span>Item 1</span>
        <span>R$ 20,00</span>
        <div class="dropdown">
         <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
           Arquivado
         <span class="caret"></span></button>
         <ul class="dropdown-menu">
            <li ng-click="desarquivar()"><img class="desarquivar" src="/assets/img/desarquivar.svg">
              Desarquivar</li>
         </ul>
       </div>
      </div>
      <div class="objetivos-arquivados-container">
        <span>Item 2</span>
        <span>R$ 50,00</span>
        <div class="dropdown">
         <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
           Arquivado
         <span class="caret"></span></button>
         <ul class="dropdown-menu">
            <li ng-click="desarquivar()"><img class="desarquivar" src="/assets/img/desarquivar.svg">
              Desarquivar</li>
         </ul>
       </div>
      </div>
      <div class="objetivos-arquivados-container">
        <span>Item 3</span>
        <span>R$ 45,00</span>
        <div class="dropdown">
         <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
           Arquivado
         <span class="caret"></span></button>
         <ul class="dropdown-menu">
            <li ng-click="desarquivar()"><img class="desarquivar" src="/assets/img/desarquivar.svg">
              Desarquivar</li>
         </ul>
       </div>
      </div>
      <div class="objetivos-arquivados-container">
        <span>Item 4</span>
        <span>R$ 30,00</span>
        <div class="dropdown">
         <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
           Arquivado
         <span class="caret"></span></button>
         <ul class="dropdown-menu">
            <li ng-click="desarquivar()"><img class="desarquivar" src="/assets/img/desarquivar.svg">
              Desarquivar</li>
         </ul>
       </div>
      </div>
      <div class="objetivos-arquivados-container">
        <span>Item 5</span>
        <span>R$ 100,00</span>
        <div class="dropdown">
         <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
           Arquivado
         <span class="caret"></span></button>
         <ul class="dropdown-menu">
            <li ng-click="desarquivar()"><img class="desarquivar" src="/assets/img/desarquivar.svg">
              Desarquivar</li>
         </ul>
       </div>
      </div>
    </div>
  </div>
</div>
